h1 {
    text-align: center;
    ;

}

.header {
    background-color: gray;
}

.lpboxone {
    background-color: whitesmoke;
    text-align: center;
}
























/* calculator fonts */
.caltext {
    padding-top: 0%;
    font-size: 200%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
/* calculator bg */
.calborder {
    background-color: tan;
    margin: auto;
    width: 600px;
    height: 550px;
}
/* calculator containers */
.calcontainerzero, .calcontainerone, .calcontainertwo, .calcontainerthree {
    background-color: gray;
    margin: 10px auto;
    width: 450px;
    display: flex;
    flex-direction: row;
    
}
/* calculator button shapes */
.circle {
    display: inline-block;
    margin: auto;
    width: 100px;
    height: 100px;
    text-align: center;
    border-radius: 100%;
    border: 5px solid black;
}
/* calculator button colors */
.one {
    background-color: red;
    
}
.two {
    background-color: blue;
    
}
.three {
    background-color: green;
    
}
.zero {
    background-color: purple;
    width: 300px;
    border-radius: 25%;   
}
/* home page button */
.callink {
    margin: auto;
    padding-top: 10px;
}